body {
	background-image: linear-gradient(rgba(0, 0, 0, 0.6),
			rgba(0, 0, 0, 0.6)),
		url(../imagenes/bg.jpg);
}

.formulario {
	width: 460px;
	height: auto;
	margin: auto;
	border-radius: 10px;
	padding-bottom: 20px;
	padding-left: 30px;
}


input {
	background-color: #fbfbfb;
	width: 408px;
	height: 40px;
	border-radius: 5px;
	border-style: solid;
	border-width: 1px;
	margin-top: 10px;
	padding-left: 10px;
	margin-bottom: 20px;
}


textarea {
	width: 405px;
	height: 150px;
	border-radius: 5px;
	border-style: solid;
	border-width: 1px;
	margin-top: 10px;
	padding-left: 10px;
	margin-bottom: 20px;
	padding-top: 15px;
}


label {
	display: block;
	float: center;
	color: #FFFDFC;
}


button {
	height: 45px;
	padding-left: 5px;
	padding-right: 5px;
	margin-bottom: 20px;
	margin-top: 10px;
	text-transform: uppercase;
	background-color: #b8b0b000;
	border-color: #ffffff;
	border-style: solid;
	border-radius: 10px;
	width: 420px;
	cursor: pointer;
}


button p {
	color: #fff;
}


span {
	color: #ffffff;
}


.aviso {
	font-size: 13px;
	color: #ffffff;
}


h2 {
	font-size: 39px;
	text-align: center;
	padding-bottom: 20px;
	color: #ffffff;
}


h3 {
	font-size: 16px;

	color: #ffffff;

}

p {
	font-size: 14px;
	color: #ffffff;
}

::-webkit-input-placeholder {
	color: #a8a8a8;
}


::-webkit-textarea-placeholder {
	color: #a8a8a8;
}


.formulario input:focus {
	outline: 0;
	border: 1px solid #97d848;
}


.formulario textarea:focus {
	outline: 0;
	border: 1px solid #97d848;
}

.footer{
	padding: 30px;
	background-color: #000000;
}

.footer-content {
	display: flex;
	justify-content: space-around;
}

.link h3{
	font-size: 18px;
	color: #f9fafc;
	margin-bottom: 15px;
}

.link a {
	font-size: 16px;
	color: #c5c5c5;
	display: block;
	margin-bottom: 15px;
}

.header {
	min-height: 30vh;
}

.menu-logo {
	width: 150px;
}

#enviar:focus {
    color: rgb(39, 2, 158);
    background: rgba(255, 255, 255, 0.8)
}

#enviar:hover {
    background-color: rgb(147, 198, 218);
    color: black;

}

.navbar-nav a:active {
	background-color: #337ab7;
	/* Cambia el color de fondo */
	color: #ce967b;
	/* Cambia el color del texto */
}